/* здесь используйте глобальные селекторы img, body, html и так далее*/
body {
  font-family: "Oswald", sans-serif;
  color: $majority-color;
  font-size: $majority-font-size;
  line-height: $majority-line-height;
  font-weight: $main-size;
  font-style: $majority-font-style;
  text-transform: $majority-text-transform;
}
