/* здесь используйте глобальные селекторы img, body, html и так далее*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Oswald", sans-serif;
  color: $majority-color;
  font-size: $majority-font-size;
  line-height: $majority-line-height;
  font-weight: $main-size;
  font-style: $majority-font-style;
  text-transform: $majority-text-transform;
}
