@mixin font-face($font-family, $font-weight, $font-style, $src) {
  @font-face {
    font-family: $font-family;
    src: $src;
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
  }
}

@mixin font-size-and-line-height($font-size, $line-height) {
  font-size: $font-size;
  line-height: $line-height;
}

@mixin button() {
  @include font-size-and-line-height(inherit, inherit);
  font-family: "Oswald", sans-serif;
  background-color: $bc-color-button;
  color: $few-white-color;
  cursor: pointer;
  border: none;
  text-align: center;
}

@mixin bc($bi,$bs) {
  background-image: $bi;
  background-size: $bs;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin indentation($margin, $padding) {
  margin: $margin;
  padding: $padding;
}

@mixin block($width,$height) {
  display: block;
  width: $width;
  height: $height;
}

@mixin margin ($margin) {
  margin: $margin;
}
