/* здесь используйте глобальные переменные */
$majority-color:#444444;
$additional-color:#000000;
$few-black-color:#111111;
$few-black-color-two:#222222;
$few-white-color:#ffffff;
$bc-many-products-button:#f2f2f2;
$bc-color-button: #68b738;
$bc-color-border-radio: #cdcdcd;
$majority-font-size: 16px;
$majority-line-height: 20px;
$majority-font-style: normal;
$majority-text-transform: uppercase;
$main-size:400;
