/* здесь используйте глобальные переменные */
$majority-color:#444444;
$additional-color:#000000;
$few-white-color:#ffffff;
$few-black-color:#111111;
$bc-color-button: #68b738;
$majority-font-size: 16px;
$majority-line-height: 20px;
$majority-font-style: normal;
$majority-text-transform: uppercase;
$main-size:400;