.functional-product {
  margin: 0 0 72px 0;
  padding: 20px 0 0 20px;
}

.functional-product__title {
  margin: 0 0 22px 0;
}

.functional-product__list {
  @include indentation(0,0);
  padding: 20px 0 0 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 21px;
}

.functional-product__item-card {
  display: flex;
}

.functional-product__description {
  margin: 0;
  display: flex;
}

.functional-product__description::before {
  margin-right: 21px;
}

.functional-product__description--useful::before {
  @include bc(url("../../images/icons/stack.svg#green-box_phone-green-box-leaf"), 60px 60px);
  @include block(60px,60px);
  content: "";
}

.functional-product__description--comfortable::before {
  @include bc(url("../../images/icons/stack.svg#green-box_phone-green-box-powder"), 60px 60px);
  @include block(60px,60px);
  content: "";
}

.functional-product__description--eat::before {
  @include bc(url("../../images/icons/stack.svg#green-box_phone-green-box-eat"), 60px 60px);
  @include block(60px,60px);
  content: "";
}

.functional-product__description--time::before {
  @include bc(url("../../images/icons/stack.svg#green-box_phone-green-box-time"), 60px 60px);
  @include block(60px,60px);
  content: "";
}
