.header__wrapper {
  padding: 13px 4px 11px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-link {
  width: 190px;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  align-items: center;
}
