.header {
  margin: 0 0 12px 0;
  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 24px 0 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.header__global-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
  }
  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.header__wrapper {
  padding: 12px 0 0 21px;
  display: flex;
  align-items: center;
  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0 94px 0 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin: 0;
    padding: 54px 407px 0 112px;
    background-color: $few-white-color;
  }
}

.header__logo-link {
  display: flex;
  text-decoration: none;
  align-items: center;
  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.header__logo-icon {
  margin-right: 55px;
  @media (min-width: $tablet-width) {
    margin-right: 12px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 13px;
  }
}

.header__logo-text {
  margin-right: 65px;

  @media (min-width: $tablet-width) {
    margin-right: 0;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}
