.live-example {
  background: #eaeaea;
  padding: 0 20px 0 20px;
}

.live-example__title-section {
  margin: 0 0 38px 0;
}

.live-example__list-wrapper {
  margin: 0 0 0 0;
  text-transform: none;
}

.live-example__list-wrapper:first-child {
  margin: 0 61px 0 0;
}

.live-example__title {
  @include font-size-and-line-height(24px,24px);
  color: $additional-color;
  text-align: center;
}

.live-example__description {
  margin: 0 0 34px 0;
}

.live-example__container-definitions {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 40px 0;
  padding: 0 10px 0 20px;
}

.live-example__item {
  @include font-size-and-line-height(12px,100%);
  margin: 0;
  font-family: "Lato", sans-serif;
  text-align: center;
}

.live-example__price-title {
  @include font-size-and-line-height(14px,inherit);
  margin: 0 0 20px 0;
  padding: 0 3px 0 0;
  color: $additional-color;
  text-transform: uppercase;
  text-align: center;
}

.live-example__cat-before {
  display: block;
  margin: 0 auto;
}
