.main-index {
  flex-grow: 1;
}

.main-index__functional-cat {
  margin-bottom: 20px;
  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 83px;
  }
}
