.many-products__title{
  @include font-size-and-line-height(20px,24px);
  color: $few-black-color;
  font-weight: inherit;
  text-align: center;
}
.many-products__description{
  @include font-size-and-line-height(inherit,18px);
  font-family: Lato;
  text-align: center;
}
.many-products__button--bc-white{
  color: $majority-color;
  background-color: $bc-many-products-button;
}