.navigation__list {
  @include indentation(0,0);
  display: flex;
  list-style: none;
}

.navigation__list li:not(:last-child) {
  margin-right: 33px;
}

.navigation__link {
  @include font-size-and-line-height(20px, inherit);
  color: $additional-color;
  text-decoration: none;
}

.navigation__item {
  position: relative;
}

.navigation__link--active::before {
  content: "";
  top: 20px;
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: $bc-color-button;
}

.navigation__button {
  @include bc(url("../../images/icons/stack.svg#phone-button-hamburger"),24px 24px);
  @include block(24px,24px);
  border: none;
  background-color: inherit;
  cursor: pointer;
}
