.navigation {
  // display: none;
}

.navigation__list {
  @include indentation(0,0);
  flex-direction: column;
  list-style: none;
}

.navigation__link {
  @include font-size-and-line-height(20px, inherit);
  color: $additional-color;
  text-decoration: none;
}

.navigation__item {
  position: relative;
  text-align: center;
  padding: 22px 56px 21px;
  border-top: 1px solid $border-color;
}
