.work-section__title{
  @include font-size-and-line-height(16px,inherit);
  color: $few-black-color;
  font-weight: inherit;
  text-transform: uppercase;
}
.work-section__description{
  @include font-size-and-line-height(14px,20px);
  font-family: "Lato";
}