
.work-section {
  padding: 27px 22px 0 20px;
  display: flex;
}

.work-section__title {
  @include font-size-and-line-height(16px,20px);
  margin: 0 16px 0 0;
  color: $few-black-color;
  font-weight: inherit;
  text-transform: uppercase;
}

.work-section__description {
  @include font-size-and-line-height(14px,inherit);
  margin: 0;
  font-family: "Lato", sans-serif;
  text-transform: none;
}
